server:
  port: 8081
spring:
  application:
    name: edge-inn-reach
  autoconfigure:
    exclude: |-
      org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration,
      org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration,
      org.springframework.boot.autoconfigure.jdbc.DataSourceTransactionManagerAutoConfiguration
  liquibase:
    enabled: false
  jackson:
    default-property-inclusion: NON_EMPTY
  mustache:
    check-template-location: false
  main:
    allow-bean-definition-overriding: true
  cache:
    type: caffeine
    caffeine:
      spec: maximumSize=200,expireAfterAccess=1h
management:
  endpoints:
    web:
      exposure:
        include: info,health,env,httptrace,loggers
      base-path: /admin
  #  endpoint:
  #    health:
  #      show-details: always
  #      show-components: always
  health:
    defaults:
      enabled: true
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
folio:
  tenant:
    validation:
      enabled: false
  jwt:
    signature:
      algorithm: HS256
      secret: ${Djwt_secret}
    claims:
      issuer: folio
    expiration-time-sec: ${Djwt_exp_time_sec}
debug: false

Dokapi_url: http://localhost:9130
okapi_url: ${Dokapi_url}

###################################################
# JWT configuration properties
###################################################
Djwt_secret: e13eeb7d-94fe-476d-8d65-73ded910dc4e
Djwt_exp_time_sec: 599

###################################################
# Security store properties
###################################################
Dsecure_store_props: src/main/resources/ephemeral.properties
secure_store_props: ${Dsecure_store_props}

Dsecure_store: Ephemeral
secure_store: ${Dsecure_store}

Dinnreach_tenants: innreach_tenants
innreach_tenants: ${Dinnreach_tenants}

Dinnreach_tenants_mappings: innreach_tenants_mappings
innreach_tenants_mappings: ${Dinnreach_tenants_mappings}

Dinnreach_client: innreachClient
innreach_client: ${Dinnreach_client}
